@import "globals";
.pfunciones {
  font-family: "Poppins", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 25px;
  text-align: center;
  padding: 20px;
  .navfunciones {
    background-color: fuchsia;
  }
}
