* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: black;

.btn-neon {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: rgb(16, 15, 15);
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
}

p {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
