@import "globals";
body {
  font-family: "Poppins", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  text-align: center;

  .container {
    width: 100;
    height: auto;
    text-align: center;
    justify-content: center;
  }

  .nav__item {
    margin: 0 0 0;
  }
  .nav__link {
    color: $primary-color;
    text-transform: uppercase;
    text-decoration: none;
  }
  h1 {
    color: $primary-color;
  }
}
